@tailwind base;
@tailwind components;

:root {
	--text-color: #252422;
	--bg-color: #f4f4f4;
}

/*  Button fill up animation start */
.button-animation:hover {
	color: var(--bg-color);
	outline: 0;
	z-index: 10;
}
.button-animation::before {
	content: "";
	@apply absolute  text-[var(--bg-color)] bg-[var(--text-color)] 
		w-full h-0 left-0 bottom-0 -z-10 
		transition-all duration-300;
}
.button-animation:hover::before {
	@apply h-full;
}

/* Button fill up animation end */

/* IMPORTANT - LEAVE AFTER ALL CSS */
@tailwind utilities;
